/*********************************
Unminified compiled Less output
*********************************/

.c-bg-slate {
  background: #162328
}

.c-bg-white {
  background: #fff
}

.c-bg-gray-light {
  background: #f6f8fa
}

.c-bg-blue {
  background: #2085bc
}

.c-bg-blue-light {
  background: #40affd
}

.c-bg-blue-med {
  background: #309add
}

.c-off-black {
  background: #111212
}

.u-mp0 {
  margin: 0;
  padding: 0
}

.u-100 {
  width: 100%;
  height: 100%
}

.u-w100 {
  width: 100%
}

.u-h100 {
  height: 100%
}

.u-tl {
  top: 0;
  left: 0
}

.u-pe {
  content: ""
}

.u-child100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.u-pe100 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: ""
}

.u-blocklist {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0
}

.u-hidden {
  display: none
}

.u-bg-clip {
  background-clip: padding-box
}

.u-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none
}

.u-appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none
}

.u-disable-touch-callout {
  -webkit-touch-callout: none
}

.u-disable-tap-hilight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none
}

.u-nowrap {
  white-space: nowrap
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 16px
}

.font-size-reset {
  font-size: 1em
}

.constrained {
  max-width: 80em;
  margin: auto
}

.constrained--med {
  max-width: 65em;
  padding: 1.25em 1.125em 3.75em 1.125em
}

.constrained--sm {
  max-width: 50em;
  padding: 1.25em 0 3.75em 0
}

.constrained--narrow {
  max-width: 47.5em
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #232323
}

.constrained h1 {
  font-weight: 200;
  font-size: 2.5em
}

section {
  background: #fff
}

#page-content {
  background: #fff
}

pre,
code,
code span {
  font-family: 'Roboto Mono', monospace!important
}

code {
  background: #f6f8fa
}

pre > code {
  font-size: 0.8125em;
  line-height: 1.5em;
  padding: 1.875em;
  display: block;
  color: #333;
  overflow-x: auto
}

ol,
ul {
  font-size: 16px
}

p,
li,
th,
td {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 1.2em 0
}

p code {
  font-size: 0.78125em;
  padding: 0.125em 0.375em
}

pre {
  margin: 2em 0
}

h1,
h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.2em 0
}

h2 {
  font-size: 2.25em;
  color: rgba(35, 35, 35, 0.75)
}

a,
.more {
  text-decoration: none;
  cursor: pointer;
  color: #2085bc;
  font-weight: bold;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease;
  transition: color 0.2s ease, opacity 0.2s ease
}

a:hover,
.more:hover {
  color: #40affd
}

a:active,
.more:active {
  opacity: .66;
  color: #2085bc;
  -webkit-transition-duration: 0s;
  transition-duration: 0s
}

blockquote {
  border-left: #f6f8fa solid 0.375em;
  padding-left: 1.125em
}

blockquote * {
  color: rgba(35, 35, 35, 0.75)
}

img {
  max-width: 100%
}

hr {
  display: block;
  border: none;
  height: 0.375em;
  background: #f6f8fa
}

blockquote,
hr {
  margin: 2.4em 0
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none
}

tr:nth-child(even) {
  background: rgba(184, 198, 213, 0.13)
}

th,
td {
  text-align: left;
  padding: 1.125em
}

th sub,
td sub {
  vertical-align: baseline;
  padding-left: 0.375em;
  opacity: .5;
  font-size: 75%
}

th {
  border-bottom: 0.375em solid rgba(184, 198, 213, 0.13)
}

.tr--featured td,
.tr--featured td * {
  color: #2085bc
}

.tr--featured td sub {
  opacity: .66
}

.padded-med {
  padding: 1.25em;
  max-width: 61.25em
}

.padded-med > h2:first-child + p.t-sm {
  margin-top: -0.3125em
}

.scroll-box {
  max-width: 100%;
  overflow-x: auto
}

@media screen and (max-width:960px) {
  .constrained--med,
  .constrained--narrow {
    padding: 0
  }
  .constrained--narrow {
    padding-top: 2.25em!important;
    padding-bottom: 2.25em!important
  }
  .padded-med > h2:first-child {
    margin-top: 0
  }
  table {
    margin: 0 0.625em
  }
  th,
  td {
    text-align: left;
    font-size: 0.875em;
    padding: 0.7875em
  }
}

.banner {
  width: 100%
}

.banner--hero,
.banner--interior-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 26.25em;
  height: 40vw;
  max-height: 37.5em;
  background: #1c292f url("../assets/banner.jpg") center center no-repeat;
  background-size: cover
}

.banner--hero__content {
  padding-top: 2.25em;
  -webkit-filter: drop-shadow(0 0 3.125em rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 3.125em rgba(0, 0, 0, 0.3))
}

.banner--hero .banner--hero__content,
.banner--interior-hero .banner--hero__content,
.banner--hero .constrained.constrained--sm,
.banner--interior-hero .constrained.constrained--sm {
  padding-left: 1.125em;
  padding-right: 1.125em
}

.banner--hero__logo,
.banner--hero__content h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: default
}

.banner--hero__logo svg {
  fill: #fff;
  width: 16.5625em;
  height: 2.875em
}

.banner--hero__content h3 {
  margin: 1.875em 0
}

.banner--hero__content h3 span {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
  color: #fff
}

.banner--hero__cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 2.25em
}

.banner--hero__cta-container .btn {
  width: 100%;
  max-width: 14em
}

.banner--hero__cta-container .btn + .btn {
  margin-left: 2.25em
}

.banner__ai2-logo {
  opacity: .8
}

.banner__ai2-logo svg {
  font-size: 0.4375em;
  width: 3.25em;
  height: 2.4375em;
  margin-left: 0.25em;
  margin-bottom: -0.0625em
}

.banner__ai2-logo:hover {
  opacity: 1
}

.banner--interior-hero {
  min-height: 17.125em;
  height: auto;
  background-color: #213744;
  background-image: url("../assets/banner-blurred.jpg");
  position: relative
}

.banner--interior-hero,
.banner--interior-hero * {
  color: #fff;
  fill: #fff
}

.banner--interior-hero:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: black;
  z-index: -1
}

.banner--interior-hero__content {
  padding: 1.25em;
  padding-bottom: 0;
  max-width: 38.75em
}

.banner--padded .constrained {
  padding: 4.75em 2.25em
}

.banner--padded .constrained h2,
.banner--padded .constrained p {
  margin: 0;
  padding: 0
}

.banner--padded .constrained h2 + p {
  margin-top: 2em
}

@media screen and (max-width:960px) {
  .banner--hero .banner--hero__content {
    padding: 2.25em 1.125em
  }
  .banner--hero .banner--hero__content h3 {
    margin-bottom: 0
  }
  .banner--hero .banner--hero__content .banner--hero__cta-container .btn + .btn {
    margin-left: 1.125em
  }
  .banner--hero h1.banner--hero__logo {
    font-size: 0.75em
  }
  .banner--hero,
  .banner--interior-hero {
    min-height: 12.5em;
    height: auto
  }
  .banner--hero .constrained.constrained--sm,
  .banner--interior-hero .constrained.constrained--sm {
    padding-top: 1em;
    padding-bottom: 1.25em
  }
  .banner--hero .constrained.constrained--sm h1,
  .banner--interior-hero .constrained.constrained--sm h1 {
    margin-top: 0
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #fff!important;
  display: block;
  background: #2085bc;
  padding: 1.125em 1.75em;
  -webkit-transition: background-color 0.2s ease, opacity 0.2s ease;
  transition: background-color 0.2s ease, opacity 0.2s ease
}

.btn.btn--blue {
  background: #2085bc
}

.btn:hover {
  background: #40affd
}

.btn:active {
  opacity: .66;
  background: #2085bc;
  -webkit-transition-duration: 0s;
  transition-duration: 0s
}

@media screen and (max-width:960px) {
  .btn {
    padding: 1em 1.25em
  }
}

.callouts {
  max-width: 68.75em
}

.callouts__card__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2.25em
}

.callouts__card__content h2 {
  margin: 0;
  padding: 0
}

.callouts__card__content h2 + p {
  margin-top: 2em
}

.callouts__card__content p {
  margin: 0;
  padding: 0
}

@media screen and (max-width:960px) {
  .callouts.constrained {
    padding: 2.25em 1.125em
  }
}

@media screen and (max-width:767px) {
  .callouts.constrained {
    padding: 0
  }
  .callouts__card__content {
    padding: 2.25em 1.125em
  }
  .callouts__card__content h2 {
    font-size: 1.875em
  }
  .callouts__card__content h2 + p {
    margin-top: 0.75em!important
  }
}

ul.faq {
  padding: 2.125em 1.25em 1.5625em 1.25em!important
}

ul.faq,
ul.faq li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0
}

ul.faq,
ul.faq li,
ul.faq p,
ul.faq li p,
ul.faq span,
ul.faq li span {
  font-size: 1em
}

ul.faq li {
  padding: 2em 0;
  border-bottom: 0.0625em solid #e0e0e0
}

ul.faq li h2 {
  font-size: 1.75em;
  margin-top: 0;
  line-height: 1.125em
}

ul.faq li p {
  margin: 0.4375em 0 0 0
}

ul.faq li:last-child {
  border: none;
  padding-bottom: 0
}

@media screen and (max-width:960px) {
  ul.faq {
    padding: 0em 1.25em 2.5em 1.25em!important
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.flex-none {
  -webkit-flex: none;
  -ms-flex: none;
  -flex: none
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column
}

.flex-container-align-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.flex-container-align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.flex-container-hcentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.flex-container-vcentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center
}

.flex-container-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.flex-distribute-vertically {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around
}

footer {
  background: #000
}

footer,
footer * {
  color: #fff;
  fill: #fff
}

.footer__content {
  max-width: 62.5em;
  padding: 5.25em 2.25em;
  margin: auto
}

.footer__content .footer__content__logo {
  display: inline-block;
  opacity: .5;
  margin: 0.1875em 0 1.75em 0
}

.footer__content .footer__content__logo:hover {
  opacity: .7
}

.footer__content .footer__content__logo:active {
  opacity: .3
}

.footer__content .footer__content__logo svg {
  width: 16.125em;
  height: 2.75em
}

.footer__content p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: default;
  line-height: inherit
}

.footer__content p span {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.42)
}

.footer__content p span a {
  color: rgba(255, 255, 255, 0.5)
}

.footer__content p span a:hover {
  color: rgba(255, 255, 255, 0.66)
}

.footer__content p.footer__content__copyright span {
  color: rgba(255, 255, 255, 0.3)
}

.footer__content .footer__content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row
}

.footer__content .footer__content__nav nav a {
  line-height: 1.75em;
  vertical-align: top
}

.footer__content .footer__content__nav .nav__link {
  display: block;
  height: 100%
}

.footer__content .footer__content__nav__main-nav {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.footer__content .footer__content__nav__secondary-nav .nav__link span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875em
}

.footer__content .nav__link span {
  color: rgba(255, 255, 255, 0.6)
}

@media screen and (max-width:960px) {
  .footer__content .footer__content__nav__main-nav {
    -webkit-columns: auto;
    -moz-columns: auto;
    columns: auto;
    -webkit-flex-grow: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-left: 3.75em
  }
  .footer__content .footer__content__nav__secondary-nav {
    padding-left: 2.5em
  }
}

@media screen and (max-width:767px) {
  .footer__content {
    text-align: center;
    padding: 2.5em 1.25em
  }
  .footer__content p {
    line-height: 1.875em
  }
  .footer__content p span {
    font-size: 1em
  }
  .footer__content .footer__content__nav {
    display: none
  }
}

@media screen and (max-width:567px) {
  .footer__content p {
    line-height: 1.875em
  }
  .footer__content p span {
    font-size: 0.75em
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: black;
  height: 5.125em
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 84.125em
}

.header__content nav {
  height: 100%;
  margin-left: auto
}

.header__content nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 1.125em
}

.header__content nav li {
  height: 100%
}

.header__content nav li.nav__home {
  display: none
}

.header__content .nav__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 1.125em;
  position: relative
}

.header__content .nav__link span {
  color: rgba(255, 255, 255, 0.66)
}

.header__content .nav__link--selected .nav__link {
  background: rgba(255, 255, 255, 0.13)
}

.header__content .nav__link--selected .nav__link span {
  color: #fff
}

.header__content .nav__link--selected .nav__link:after {
  content: "";
  width: 100%;
  height: 0.375em;
  background: #2085bc;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute
}

.header__content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1em;
  margin-left: 2.25em
}

.header__content__logo a {
  margin: 0;
  padding: 0;
  display: block
}

header svg {
  fill: #fff;
  width: 7.75em;
  height: 1.375em
}

body[data-page="home"] header .header__content__logo {
  display: none
}

#header__mow-nav-trigger {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  right: 0.6875em;
  top: 0.6875em;
  display: none;
  z-index: 999;
  cursor: pointer
}

#header__mow-nav-trigger svg {
  width: 1.25em;
  height: 1.125em;
  display: block;
  margin-top: 0.625em;
  margin-left: 0.625em;
  fill: rgba(255, 255, 255, 0.5)
}

@media screen and (min-width:961px) {
  body[data-page="home"] header {
    background: transparent;
    position: absolute
  }
}

@media screen and (max-width:960px) {
  header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    height: auto
  }
  header #header__mow-nav-trigger {
    display: block
  }
  header .header__content {
    display: block
  }
  header .header__content .header__content__logo {
    width: 100%!important;
    margin-left: 0;
    box-sizing: border-box;
    height: 1.375em;
    padding: 1.875em 1.875em 1.875em 1.25em!important;
    background: #000;
    position: relative;
    z-index: 99
  }
  header .header__content nav {
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -999;
    padding-bottom: 0.125em;
    -webkit-transition: opacity 0.2s ease, z-index 0s linear, position 0s linear;
    transition: opacity 0.2s ease, z-index 0s linear, position 0s linear
  }
  header .header__content nav ul,
  header .header__content nav ul li,
  header .header__content nav ul li a.nav__link {
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: auto;
    line-height: inherit
  }
  header .header__content nav ul li.nav__link--selected a.nav__link {
    background: #111212
  }
  header .header__content nav ul li.nav__link--selected a.nav__link span {
    color: #fff
  }
  header .header__content nav ul li.nav__link--selected a.nav__link:after {
    content: "";
    height: 100%;
    width: 0.25em;
    background: #2085bc;
    display: block;
    top: 0;
    left: 0;
    position: absolute
  }
  header .header__content nav ul li a.nav__link {
    background: #111212;
    margin-top: 0.125em;
    display: block;
    width: auto;
    height: auto;
    line-height: inherit;
    padding: 0.875em 1.125em
  }
  header .header__content nav ul li:first-child a.nav__link {
    margin-top: 0
  }
  header .header__content nav.nav--mow-active {
    opacity: 1;
    z-index: 9999;
    position: static
  }
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080
}

.hljs-string,
.hljs-doctag {
  color: #d14
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold
}

.hljs-subst {
  font-weight: normal
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal
}

.hljs-regexp,
.hljs-link {
  color: #009926
}

.hljs-symbol,
.hljs-bullet {
  color: #990073
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3
}

.hljs-meta {
  color: #999;
  font-weight: bold
}

.hljs-deletion {
  background: #fdd
}

.hljs-addition {
  background: #dfd
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}

#icons {
  top: 0;
  left: 0;
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -999
}

svg {
  fill: #000
}

.models-table {
  margin-bottom: 3.75em
}

@media screen and (max-width:960px) {
  .models-table {
    margin-bottom: 2.5em
  }
}

nav ul,
nav ul li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0
}

.nav__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto
}

.nav__link span {
  font-size: 1em;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-weight: normal
}

.nav__link:hover span {
  color: #fff
}

.nav__link:active span {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: 0s;
  transition-duration: 0s
}

ul.publications {
  padding: 1.5625em 1.25em 1.5625em 1.25em!important
}

ul.publications,
ul.publications li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0
}

ul.publications,
ul.publications li,
ul.publications p,
ul.publications li p,
ul.publications span,
ul.publications li span {
  font-size: 1em
}

ul.publications li {
  padding: 2em 0;
  border-bottom: 0.0625em solid #e0e0e0
}

ul.publications li:last-child {
  border: none;
  padding-bottom: 0
}

.publications__title {
  display: block;
  color: #2085bc;
  font-size: 1.3125em;
  font-weight: bold;
  margin-bottom: 0.375em
}

.publications__authors {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: bold;
  color: #8c9296;
  margin-top: 0.4375em
}

.publications__year:before {
  content: "•";
  padding: 0 0.5em
}

.publications__abstract {
  margin: 0.4375em 0 0 0
}

@media screen and (max-width:960px) {
  ul.publications {
    padding: 0em 1.25em 2.5em 1.25em!important
  }
}

.t-crisp {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.t-smooth {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto
}

.t-kerning-default {
  letter-spacing: normal
}

.t-underline {
  text-decoration: underline
}

.t-no-underline {
  text-decoration: none
}

.t-uppercase {
  text-transform: uppercase
}

.t-case-normal {
  text-transform: none
}

.t-bold {
  font-weight: bold
}

.t-thin {
  font-weight: 100
}

.t-caps {
  font-size: 0.875em;
  font-weight: bold;
  letter-spacing: .025em;
  text-transform: uppercase
}

.t-link {
  text-decoration: none;
  cursor: pointer
}

.t-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.t-center {
  text-align: center
}

.t-left {
  text-align: left
}

.t-right {
  text-align: right
}

.t-white,
.t-white * {
  color: #fff;
  fill: #fff
}

.t-sm {
  font-size: 1em
}

.t-white .t-sm,
.t-white .t-sm * {
  color: rgba(255, 255, 255, 0.66)
}

.tutorial.constrained {
  padding: 4.5em 2.25em
}

.tutorial__nav nav,
.tutorial__nav ul,
.tutorial__nav li,
.tutorial__nav a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1em
}

.tutorial__nav nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0.625em
}

.tutorial__nav ul {
  margin-right: 2.25em;
  margin-left: -1em;
  margin-top: -0.125em
}

.tutorial__nav ul li a {
  padding: 0.625em 1.25em;
  color: rgba(35, 35, 35, 0.48);
  position: relative;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease
}

.tutorial__nav ul li a:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  width: 0.25em;
  height: 1.875em;
  background: #349fe4;
  top: 0.625em;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease
}

.tutorial__nav ul li a:hover {
  color: #232323
}

.tutorial__nav ul li a:active {
  color: rgba(35, 35, 35, 0.38);
  -webkit-transition-duration: 0s;
  transition-duration: 0s
}

.tutorial__nav ul li.tutorial__nav--selected a,
.tutorial__nav ul li.tutorial__nav--selected:hover,
.tutorial__nav ul li.tutorial__nav--selected:active {
  color: #232323
}

.tutorial__nav ul li.tutorial__nav--selected a:before,
.tutorial__nav ul li.tutorial__nav--selected:hover:before,
.tutorial__nav ul li.tutorial__nav--selected:active:before {
  opacity: 1
}

.tutorial__content {
  max-width: 100%;
  overflow-x: auto
}

.tutorial__content > *:first-child {
  margin-top: 0;
  padding-top: 0
}

.tutorial__content li p {
  font-size: 1em;
}

@media screen and (max-width:960px) {
  .tutorial.constrained {
    padding: 1.125em
  }
  .tutorial.constrained table {
    margin: 0
  }
  .tutorial__nav nav ul {
    margin-right: 1.125em
  }
  .tutorial__nav nav ul li.tutorial__nav--selected a:before {
    display: none
  }
}

@media screen and (max-width:768px) {
  .tutorial__nav ul {
    margin-left: 0.28125em;
    margin-right: 0.28125em;
    margin: 0 0.28125em 2.25em 0.28125em
  }
  .tutorial__nav ul li a {
    padding: 0.375em 0;
    border-bottom: 0.0625em solid #ccc
  }
}

a.separator {
  pointer-events: none;
  cursor: default;
}
