---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP - User Gallery</title>
  </head>
  <body id="top" data-page="models">
    <div id="page-content">
      {% include header.html %}

      <div class="banner banner--notification c-bg-blue-med-light">
        <div class="constrained constrained--sm">
          <div class="banner--notification__content"><span>We're looking for user-submitted models!</span> &nbsp;<a href="#how-to-contribute">Learn more</a></div>
        </div>
      </div>

      <div class="banner banner--interior-hero banner--short">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h1>User Gallery</h1>
          </div>
        </div>
      </div>

      <div id="auto-nav" class="col-layout constrained col-layout--hidden-mobile-sidenav">
        <div class="pure-g">
          <div class="col-layout__nav pure-u-1 pure-u-lg-1-4">
            <nav>
              {% comment %}
                Models page side-nav links are dynamically generated
              {% endcomment %}
            </nav>
          </div>
          <div class="col-layout__content pure-u-1 pure-u-lg-3-4">

            {% include gallery-template.html %}

            {% comment %}
              See `_data/models.yml` and `_data/gallery.yml` for models content
            {% endcomment %}

            <div id="how-to-contribute" class="banner banner--hr js-dynamic-section" data-group="Contributing" data-label="How to Contribute">
              <div class="constrained constrained--med">
                <div class="padded-med">
                  <h2>How to Contribute</h2>
                  <p>
                    AllenNLP wants more near state-of-the-art NLP models and is looking for contributions.
                    Not only will your model be listed here and be easily accessible to other users of AllenNLP, but we'll even help build a visualization and host a demo.

                    To contribute a model:
                    <ol class="formatted">
                      <li>Put your code in a GitHub repo with instructions for running it</li>
                      <li>Publish a paper or host it on arXiv (ideally)
                      <li>Host the trained <code>model.tar.gz</code> file somewhere accessible by HTTP</li>
                      <li><a href = "https://github.com/allenai/allennlp/issues">Open an issue</a> with the above links</a></li>
                    </ol>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>
