---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP</title>
  </head>
  <body data-page="home">
    <div id="page-content">
      {% include header.html %}
      <div class="banner banner--hero">
        <div class="banner--hero__content">
          <h1 class="banner--hero__logo"><svg><use xlink:href="#icon__allennlp-logo"></use></svg><span class="u-hidden">AllenNLP</span></h1>
          <h3><span>An open-source NLP research library, built on PyTorch</span></h3>
          <div class="banner--hero__cta-container"><a {% include demo-url.html %} class="btn">View Demo</a><a {% include getstarted-url.html %} class="btn">Get Started</a></div>
        </div>
      </div>
      <div class="banner banner--padded">
        <div class="callouts constrained pure-g">
          <div class="callouts__card pure-u-1 pure-u-md-1-2">
            <div class="callouts__card__content">
              <h2>Deep learning for NLP</h2>
              <p>AllenNLP makes it easy to design and evaluate new deep learning models for nearly any NLP problem, along with the infrastructure to easily run them in the cloud or on your laptop.</p>
              <p>
                <br><a {% include getstarted-url.html %}>Get Started</a></p>
            </div>
          </div>
          <div class="callouts__card pure-u-1 pure-u-md-1-2">
            <div class="callouts__card__content">
              <h2>State of the art models</h2>
              <p>AllenNLP includes reference implementations of high quality models for both core NLP problems (e.g. semantic role labeling) and NLP applications (e.g. textual entailment).</p>
              <p>
                <br><a href="/models">View Metrics</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner banner--padded c-bg-slate t-white t-center">
        <div class="constrained constrained--narrow">
          <h2>Proudly built by <a href="http://allenai.org/" target="_blank" class="banner__ai2-logo"><svg><use xlink:href="#icon__ai2-logo"></use></svg></a><span class="u-hidden">AI2</span></h2>
          <p><span class="t-sm">AllenNLP is built and maintained by the Allen Institute for Artificial Intelligence, in close collaboration with researchers at the University of Washington and elsewhere. With a dedicated team of best-in-field researchers and software engineers, the AllenNLP project is uniquely positioned for long-term growth alongside a vibrant open-source development community.</span></p>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>
