---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP Interpret</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">    

    <style>        
    p,
    li,
    th,
    td {      
      font-size: 1.5em;      
    }

        .constrained--med {
            max-width: 77em;
            padding: 1.25em 1.125em 3.75em 1.125em;
        }

        .headshot {
          width: 12em;
          margin: 0.2rem;          
        }        
      </style>
  </head>
  <body id="top">
    <div id="page-content">
      {% include header.html %}

      <div class="banner banner--interior-hero">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h2>AllenNLP Interpret:<br> A Framework for Explaining Predictions of NLP Models</h2>
            <h5>Eric Wallace, Jens Tuyls, Junlin Wang, Sanjay Subramanian, <br> Matt Gardner, and Sameer Singh</h5><br>EMNLP 2019 Demo
          </div>
        </div>
      </div>
      <div class="constrained constrained--med">        
        <p>
        Despite constant advances and seemingly super-human performance on constrained domains, state-of-the-art models for NLP are imperfect. These imperfections, coupled with today's advances being driven by (seemingly black-box) neural models, leave researchers and practitioners scratching their heads asking, <i>why did my model make this prediction?</i>
        </p>

        <p>
        We present AllenNLP Interpret, a toolkit built on top of AllenNLP for interactive model interpretations. The toolkit makes it easy to apply gradient-based <b><u>saliency maps</b></u> and <u><b>adversarial attacks</b></u> to <i>new models</i>, as well as develop <i>new interpretation methods</i>. AllenNLP interpret contains three components: a suite of interpretation techniques applicable to most models, APIs for developing new interpretation methods (e.g., APIs to obtain input gradients), and reusable front-end components for visualizing the interpretation results.
        </p>

        <p>This page presents links to:</p>
        <li>Live demos for various models and tasks, such as
        <ul>
            <li><a href="https://demo.allennlp.org/masked-language-modeling", target="_blank">Masked Language Modeling</a> using BERT, to explain why it made certain mask predictions.</li>          
            <div style="margin:auto"><img src="assets/interpret-photos/bert-combined.jpg" style="width:65em"></div>
                              
           <li><a href="https://demo.allennlp.org/textual-entailment/MTA1Mjc2Ng==", target="_blank">Textual Entailment</a> and <a href="https://demo.allennlp.org/sentiment-analysis/MTA1Mjk1Mg==", target="_blank">Sentiment Analysis</a> using ELMo-based LSTM classifiers.</li>
            <div style="text-align:center"><img src="assets/interpret-photos/reduction.png" style="width:65em"></div>

            <li>SQuAD and DROP <a href="https://demo.allennlp.org/reading-comprehension/MTA1Mjc3NA==", target="_blank">reading comprehension</a> using an ELMo-based QANet</li>            
            
            <div style="text-align:center"><img src="assets/interpret-photos/squad_screenshot.png" style="width:65em"></div>

           <li><a href="https://demo.staging.allennlp.org/named-entity-recognition/MTA1Mjk3NQ==", target="_blank">NER</a> using an LSTM-CRF model based on ELMo.</li>           
           <div style="text-align:center"><img src="assets/interpret-photos/ner.png" style="width:40em"></div>

        </ul>
        </li>
          
        <li>Tutorials for interpreting any <a href="https://github.com/allenai/allennlp-demo#contributing-a-new-model-to-the-demo", target="_blank">model of your choice</a>, and addding <a href="https://github.com/allenai/allennlp-demo#adding-a-new-interpretation-method", target="_blank">a new interpretation method</a>.</li>

        <li><a href="https://github.com/allenai/allennlp/tree/master/allennlp/interpret", target="_blank">Code</a> for interpreting/attacking models and visualizing the results in the demo (e.g., <a href="https://github.com/allenai/allennlp-demo/blob/master/demo/src/components/demos/SentimentAnalysis.js", target="_blank">sentiment analysis</a>).</li>

        <li><a href="LINK", target="_blank">Paper</a> describing the framework, the technical implementation details, and showing some example use cases.</li>
        
        <p><i>Citation:</i>
        <pre> @inproceedings{Wallace2019AllenNLP,
  Author = {Eric Wallace and Jens Tuyls and Junlin Wang and Sanjay Subramanian
  and Matt Gardner and Sameer Singh},
  Booktitle = {Empirical Methods in Natural Language Processing},
  Year = {2019},
  Title = { {AllenNLP Interpret}: A Framework for Explaining Predictions of {NLP} Models}}
        </pre>
        </p>

        <br>
        <div id="authors" class="anchor-target">
          <h3>Paper Authors</h3>
            <div class="row" style="margin: 0 auto;">
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/eric.jpg" alt="eric">
                <div class="card-body">
                  <p class="card-text"><a href="http://www.ericswallace.com">Eric Wallace</a></p>
                </div>
              </div>
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/jens.jpg" alt="jens">
                <div class="card-body">
                  <p class="card-text">Jens Tuyls</a></p>
                </div>
              </div>
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/junlin.png" alt="junlin">
                <div class="card-body">
                  <p class="card-text">Junlin Wang</p>
                </div>
              </div>
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/sanjay.png" alt="matt">
                <div class="card-body">
                  <p class="card-text"><a href="https://sanjayss34.github.io/" style="font-size: 1em">Sanjay S</a></p>
                </div>
              </div>              
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/matt.jpg" alt="matt">
                <div class="card-body">
                  <p class="card-text"><a href="https://matt-gardner.github.io/">Matt Gardner</a></p>
                </div>
              </div>              
              <div class="card headshot box-shadow">
                <img class="card-img-top" src="assets/interpret-photos/sameer.jpg" alt="sameer">
                <div class="card-body">
                  <p class="card-text"><a href="http://sameersingh.org/">Sameer Singh</a></p>
                </div>
              </div>
            </div>
        </div>

      </div>

      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>