---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP - Publications</title>
  </head>
  <body data-page="publications">
    <div id="page-content">
      {% include header.html %}
      <div class="banner banner--interior-hero">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h1>Featured Publications</h1>
            <p class="t-sm">A core goal of the AllenNLP team is to push the field of natural language processing forward through cutting-edge research.  Below is a list of our featured publications.  For our full list of publications, please visit <a href="https://allenai.org/papers/papers-allennlp-all.html">the AI2 Publications page for AllenNLP</a>.
            <p class="t-sm">
            To cite AllenNLP, please cite <i><a href="https://www.semanticscholar.org/paper/AllenNLP%3A-A-Deep-Semantic-Natural-Language-Platform-Gardner-Grus/a5502187140cdd98d76ae711973dbcdaf1fef46d">AllenNLP: A Deep Semantic Natural Language Processing Platform</a></i>.
            <pre style="text-align: left; font-size: small; align: center">
@inproceedings{Gardner2017AllenNLP,
  title={AllenNLP: A Deep Semantic Natural Language Processing Platform},
  author={Matt Gardner and Joel Grus and Mark Neumann and Oyvind Tafjord
    and Pradeep Dasigi and Nelson F. Liu and Matthew Peters and
    Michael Schmitz and Luke S. Zettlemoyer},
  year={2017},
  Eprint = {arXiv:1803.07640},
}</pre>
            </p>
          </div>
        </div>
      </div>
      <div class="constrained constrained--med">
        <ul class="publications">
          <li><a href="https://www.semanticscholar.org/paper/AllenNLP%3A-A-Deep-Semantic-Natural-Language-Platform-Gardner-Grus/a5502187140cdd98d76ae711973dbcdaf1fef46d" target="_blank" class="publications__title">AllenNLP: A Deep Semantic Natural Language Processing Platform</a><span class="publications__authors">Matt Gardner, Joel Grus, Mark Neumann, Oyvind Tafjord, Pradeep Dasigi, Nelson Liu, Matthew Peters, Michael Schmitz, Luke Zettlemoyer</span><span class="publications__year">2017</span>
            <p class="publications__abstract">This paper describes AllenNLP, a platform for research on deep learning methods in natural language understanding. AllenNLP is designed to support researchers who want to build novel language understanding models quickly and easily. It is built on top of PyTorch, allowing for dynamic computation graphs, and provides (1) a flexible data API that handles intelligent batching and padding, (2) highlevel abstractions for common operations...</p>
          </li>
          <li><a href="https://arxiv.org/abs/1802.05365" target="_blank" class="publications__title">Deep contextualized word representations</a><span class="publications__authors">Matthew E. Peters, Mark Neumann, Mohit Iyyer, Matt Gardner, Christopher Clark, Kenton Lee, Luke Zettlemoyer.</span><span class="publications__year">NAACL 2018</span>
            <p class="publications__abstract">We introduce a new type of deep contextualized word representation that models both (1) complex characteristics of word use (e.g., syntax and semantics), and (2) how these uses vary across linguistic contexts (i.e., to model polysemy). Our word vectors are learned functions of the internal states of a deep bidirectional language model (biLM), which is pre-trained on a large text corpus. We show that these representations can be easily added to existing models and significantly improve the state of the art across six challenging NLP problems, including question answering, textual entailment and sentiment analysis. We also present an analysis showing that exposing the deep internals of the pre-trained network is crucial, allowing downstream models to mix different types of semi-supervision signals.
</p>
          </li>
        </ul>
      </div>
      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>
