---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP - Tutorials</title>
  </head>

  <body data-page="tutorials">
    <div id="page-content">
      {% include header.html %}
      <div class="banner banner--interior-hero">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h1>Tutorials</h1>
            <p class="t-sm">
              Following are tutorials to help you get started with our latest release of AllenNLP (<a href="https://github.com/allenai/allennlp#installing-via-pip">available on pip</a>).
              For tutorials related to our latest unreleased code, see <a href="https://github.com/allenai/allennlp/tree/master/tutorials">our GitHub repository</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="banner c-bg-gray-light">
        <div class="constrained constrained--med">
          <div class="padded-med">
            <h2>Getting Started</h2>
            <ul>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/README.md">
                  Installation
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/training_and_evaluating.md">
                  Training and Evaluating Models
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/configuration.md">
                  Configuring Experiments
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/creating_a_model.md">
                  Creating a Model
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/using_as_a_library_pt1.md">
                  Using AllenNLP as a Library (Part 1) - Datasets and Models
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/using_as_a_library_pt2.md">
                  Using AllenNLP as a Library (Part 2) - Predictions and Demos
                </a>
              </li>
            </ul>
            <h2>Deeper Dives</h2>
            <ul>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/notebooks/data_pipeline.ipynb"</a>
                  Datasets, Instances, and Fields
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/notebooks/vocabulary.ipynb">
                  Vocabularies
                </a>
              </li>
            </ul>
            <h2>How Tos</h2>
            <ul>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/elmo.md"</a>
                  Using ELMo
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/laziness.md">
                  How to Train a Model with Lazy Data
                </a>
              </li>
              <li>
                <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/visualizing_model_internals.md">
                  Visualizing model internals in a live demo
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>
