<footer class="banner">
  <div class="footer__content pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <a href="http://allenai.org/" target="_blank" class="footer__content__logo">
        <svg>
          <use xlink:href="#icon__ai2-logo-full"></use>
        </svg>
      </a>
      <p><span>Proudly built by <a href="http://allenai.org/" target="_blank">AI2</a>.</span></p>
      <p class="footer__content__copyright"><span>&copy; The Allen Institute for Artificial Intelligence - All Rights Reserved.</span></p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="footer__content__nav">
        <div class="footer__content__nav__main-nav">
          {% include nav-main.html %}
        </div>
        <div class="footer__content__nav__secondary-nav">
          <nav>
            <ul>
              <li><a href="https://github.com/allenai/allennlp/issues" target="_blank" class="nav__link"><span>File an issue</span></a></li>
              <li><a href="https://groups.google.com/a/allenai.org/forum/#!forum/allennlp-users" target="_blank" class="nav__link"><span>Join our mailing list</span></a></li>
              <li><a href="mailto:allennlp-contact@allenai.org" target="_blank" class="nav__link"><span>Contact us</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-105970043-1', 'auto');
	ga('send', 'pageview');

  </script>
</footer>
