<header class="header">
  <div id="header__mow-nav-trigger" class="js-mow-nav-trigger">
    <svg>
      <use xlink:href="#icon__menu"></use>
    </svg>
  </div>
  <div class="header__content">
    <div class="header__logos">
      <a href="https://allenai.org/">
        <img class="header__ai2-logo" src="/assets/ai2-logo-header.png" />
        <img class="header__ai2-icon" src="/assets/logo_only_icon.png" />
      </a>
      <img class="header__chevron" src="/assets/chevron.svg" />
      <a href="/">
        <img class="header__allennlp-logo" src="/assets/allennlp-logo-color.png" />
      </a>
    </div>
    {% include nav-main.html %}
  </div>
</header>