<div class="logo-list">
  <div class="logo-list__logo logo-list__logo--ai2"><span></span></div>
  <div class="logo-list__logo logo-list__logo--fair"><span></span></div>
  <div class="logo-list__logo logo-list__logo--airbnb"><span></span></div>
  <div class="logo-list__logo logo-list__logo--alexa"><span></span></div>
  <div class="logo-list__logo logo-list__logo--uw"><span></span></div>
  <div class="logo-list__logo logo-list__logo--usc"><span></span></div>
  <div class="logo-list__logo logo-list__logo--stony-brook"><span></span></div>
  <div class="logo-list__logo logo-list__logo--cmu"><span></span></div>
  <div class="logo-list__logo logo-list__logo--uci"><span></span></div>
  <div class="logo-list__logo logo-list__logo--cambridge"><span></span></div>
  <div class="logo-list__logo logo-list__logo--edinburgh"><span></span></div>
  <div class="logo-list__logo logo-list__logo--penn"><span></span></div>
  <div class="logo-list__logo logo-list__logo--nyu"><span></span></div>
  <div class="logo-list__logo logo-list__logo--sheffield"><span></span></div>
  <div class="logo-list__logo logo-list__logo--harvard"><span></span></div>
</div>