<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" type="text/css">
<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
<meta name="viewport" content="initial-scale=1,user-scalable=yes">
<meta name="description" content="AllenNLP is a free, open-source natural language processing platform for building state of the art models." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="AllenNLP" />
<meta name="twitter:description" content="AllenNLP is a free, open-source natural language processing platform for building state of the art models." />
<meta name="twitter:site" content="@allenai" />
<meta name="twitter:image" content="https://allennlp.org/allennlp-social-card.png" />
<meta property="og:url" content="%PUBLIC_URL%" />
<meta property="og:type" content="website" />
<meta property="og:title" content="AllenNLP" />
<meta property="og:description" content="AllenNLP is a free, open-source natural language processing platform for building state of the art models." />
<meta property="og:image" content="https://allennlp.org/allennlp-social-card.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<link rel="icon" href={favicon} type="image/x-icon" />
<link rel="apple-touch-icon" href="%PUBLIC_URL%/favicon.ico"/>
