<div class="col-layout__nav pure-u-1 pure-u-lg-1-4">
  <nav>
    <a href="#top" title="Scroll to top of page"><h4>Our Models</h4></a>
    <ul>
      <li data-col-layout-id="non-determinism">
        <a href="#non-determinism">A Note on Non-determinism</a>
      </li>

      <li data-col-layout-id="machine-comprehension">
        <a href="#machine-comprehension">Machine Comprehension</a>
      </li>

      <li data-col-layout-id="textual-entailment">
        <a href="#textual-entailment">Textual Entailment</a>
      </li>

      <li data-col-layout-id="semantic-role-labeling">
        <a href="#semantic-role-labeling">Semantic Role Labeling</a>
      </li>

      <li data-col-layout-id="coreference-resolution">
        <a href="#coreference-resolution">Coreference Resolution</a>
      </li>

      <li data-col-layout-id="named-entity-recognition">
        <a href="#named-entity-recognition">Named Entity Recognition</a>
      </li>

      <li data-col-layout-id="constituency-parsing">
        <a href="#constituency-parsing">Constituency Parsing</a>
      </li>

      <li data-col-layout-id="dependency-parsing">
        <a href="#dependency-parsing">Dependency Parsing</a>
      </li>

      <li data-col-layout-id="open-information-extraction">
        <a href="#open-information-extraction">Open Information Extraction</a>
      </li>

    </ul>

    <h4>Contributing</h4>
    <ul>
      <li data-col-layout-id="user-gallery">
        <a href="#user-gallery">User Gallery</a>
      </li>

      <li data-col-layout-id="how-to-contribute">
        <a href="#how-to-contribute">How to Contribute</a>
      </li>
    </ul>
  </nav>
</div>
