<div class="alert alert--info">
  <p><strong>Looking for something else?</strong>&nbsp; Check out <a href="https://github.com/allenai/writing-code-for-nlp-research-emnlp2018" target="_blank">our EMNLP tutorial slides</a> or <a href="https://github.com/allenai/allennlp/tree/master/tutorials" target="_blank">our other official tutorials</a>.</p>
  <p>There are also many user-contributed tutorials such as <a href="http://www.realworldnlpbook.com/blog/">the blog posts by Masato Hagiwara</a>.</p>
</div>
