<div class="alert alert--info">
  <strong>Looking for something else?</strong>&nbsp; Check out <a href="https://github.com/allenai/writing-code-for-nlp-research-emnlp2018" target="_blank">our EMNLP tutorial slides</a> or <a href="https://github.com/allenai/allennlp/tree/master/tutorials" target="_blank">our other official tutorials</a>.
  <br/>
  <br/>
  There are also many great contributed tutorials such as 
      <a href="http://www.realworldnlpbook.com/blog/">the blog posts by Masato Hagiwara</a>, 
      <a href="https://mlexplained.com/2019/01/30/an-in-depth-tutorial-to-allennlp-from-basics-to-elmo-and-bert/">an in-depth tutorial by Keita Kurita</a>, 
      <a href="https://allenai.github.io/allennlp-docs/">and more</a>.
</div>
