{% assign t = "/tutorials/" %}

<div class="tutorial__nav pure-u-1 pure-u-md-1-3">
  <nav>
    <ul>
      <li data-tutorial-id="separator">
        <a href="#" class="separator"><h5 style="color:#2085bc;">Getting Started</h5></a>
      </li>

      <li data-tutorial-id="installation">
        <a href="{{t}}installation">Installation</a>
      </li>

      <li data-tutorial-id="training-and-evaluating">
        <a href="{{t}}training-and-evaluating">Training and Evaluating Models</a>
      </li>

      <li data-tutorial-id="configuration">
        <a href="{{t}}configuration">Configuring Experiments</a>
      </li>

      <li data-tutorial-id="creating-a-model">
        <a href="{{t}}creating-a-model">Creating a Model</a>
      </li>

      <li data-tutorial-id="using-in-your-repo">
        <a href="{{t}}using-in-your-repo">Using AllenNLP in Your Project</a>
      </li>

      <li data-tutorial-id="separator">
        <a href="#" class="separator"><h5 style="color:#2085bc;">Deeper Dives</h5></a>
      </li>

      <li data-tutorial-id="data-pipeline">
        <a href="{{t}}data-pipeline">Datasets, Instances, and Fields</a>
      </li>

      <li data-tutorial-id="vocabulary">
          <a href="{{t}}vocabulary">Vocabularies</a>
      </li>

    </ul>
  </nav>
</div>
