{% assign t = "/tutorials/" %}

<div class="tutorial__nav pure-u-1 pure-u-md-1-3">
  <nav>
    <ul>
      <li data-tutorial-id="separator">
        <a href="#" class="separator"><h5 style="color:#2085bc;">Getting Started</h5></a>
      </li>

      <li data-tutorial-id="installation">
        <a href="{{t}}installation">Installation</a>
      </li>

      <li data-tutorial-id="training-a-model">
        <a href="{{t}}training-a-model">Training a Model</a>
      </li>

      <li data-tutorial-id="configuration">
        <a href="{{t}}configuration">Configuring Experiments</a>
      </li>

      <li data-tutorial-id="separator">
        <a href="#" class="separator"><h5 style="color:#2085bc;">Deeper Dives</h5></a>
      </li>

      <li data-tutorial-id="data-pipelines">
        <a href="{{t}}data-pipelines">Data Pipelines</a>
      </li>

      <li data-tutorial-id="vocabulary">
          <a href="{{t}}vocabulary">Vocabularies</a>
      </li>

    </ul>
  </nav>
</div>
