<div class="col-layout__nav pure-u-1 pure-u-lg-1-4">
  <nav>
    <h4>Getting Started</h4>
    <ul>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/README.md" target="_blank">Installation</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/training_and_evaluating.md" target="_blank">Training and Evaluating Models</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/configuration.md" target="_blank">Configuring Experiments</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/creating_a_model.md" target="_blank">Creating a Model</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/using_as_a_library_pt1.md" target="_blank">Using AllenNLP as a Library (Part 1) - Datasets and Models</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/getting_started/using_as_a_library_pt2.md" target="_blank">Using AllenNLP as a Library (Part 2) - Predictions and Demos</a>
      </li>
    </ul>

    <h4>Deeper Dives</h4>
    <ul>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/notebooks/data_pipeline.ipynb" target="_blank">Datasets, Instances, and Fields</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/notebooks/vocabulary.ipynb" target="_blank">Vocabularies</a>
      </li>
    </ul>

    <h4>How Tos</h4>
    <ul>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/elmo.md" target="_blank">Using ELMo</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/laziness.md" target="_blank">How to Train a Model with Lazy Data</a>
      </li>
      <li>
        <a href="https://github.com/allenai/allennlp/blob/v0.6.1/tutorials/how_to/visualizing_model_internals.md" target="_blank">Visualizing model internals in a live demo</a>
      </li>
    </ul>
  </nav>
</div>