<nav>
  <ul>
    <li data-page="home"><a href="/" class="nav__link"><span>Home</span></a></li>
    <li><a {% include demo-url.html %} class="nav__link"><span>Demo</span></a></li>
    <li><a href="https://gallery.allennlp.org" target="_blank" class="nav__link"><span>Gallery</span></a></li>
    <li data-page="guide"><a href="https://guide.allennlp.org" target="_blank" class="nav__link"><span>Guide</span></a></li>
    <li><a href="https://docs.allennlp.org/main/" target="_blank" class="nav__link"><span>Docs</span></a></li>
    <li><a href="https://github.com/allenai/allennlp" target="_blank" class="nav__link"><span>GitHub</span></a></li>
  </ul>
</nav>
