<nav>
  <ul>
    <li class="nav__home"><a href="/" class="nav__link"><span>Home</span></a></li>
    <li><a {% include demo-url.html %} class="nav__link"><span>Demo</span></a></li>
    <li data-page="tutorials"><a href="/tutorials" class="nav__link"><span>Tutorials</span></a></li>
    <li data-page="models"><a href="/models" class="nav__link"><span>Models</span></a></li>
    <li data-page="elmo"><a href="/elmo" class="nav__link"><span>Elmo</span></a></li>
    <li data-page="publications"><a href="/publications" class="nav__link"><span>Publications</span></a></li>
    <li data-page="faq"><a href="/faq" class="nav__link"><span>FAQ</span></a></li>
    <li><a href="https://allenai.github.io/allennlp-docs/" target="_blank" class="nav__link"><span>API</span></a></li>
    <li><a href="https://github.com/allenai/allennlp" target="_blank" class="nav__link"><span>GitHub</span></a></li>
    <li>
      <a href="http://allenai.org/" target="_blank" class="nav__badge">
        <span class="nav__badge__bg">
          <span class="nav__badge__logo">
          </span>
        </span>
        <span class="nav__badge__label">AI2</span>
      </a>
    </li>
  </ul>
</nav>
