.alert {
  border: 1px solid;
  padding: 20*$em 25*$em;
  margin: 30*$em 0;

  &.alert--info {
    border-color: $alert-blue-border;
    background: $alert-blue;

    &,
    strong {
      color: $blue;
    }

    a {
      color: $blue;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}
