.faq {

}


ul.faq {
  padding: 34*$em 20*$em 25*$em 20*$em !important;

  &,
  li {
    @include u-blocklist;

    &,
    p,
    span {
      @include font-size-reset;
    }
  }

  li {
    padding: 32*$em 0;
    border-bottom: 1*$em solid $gray-med;

    h2 {
      font-size: 28*$em;
      margin-top: 0;
      line-height: 18*$em;
    }

    p {
      margin: 7*$em 0 0 0;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  ul.faq {
    padding: 0*$em 20*$em 40*$em 20*$em !important;
  }
}
