nav ul,
nav ul li {
  @include u-blocklist;
}

.nav__link {
  @include u-mp0;
  @include t-no-underline;
  @include t-smooth;
}

.nav__link span {
  @include font-size-reset;
  transition: color $transition-properties;
  font-weight: normal;
}

.nav__link:hover span {
  color: $white;
}

.nav__link:active span {
  color: fade-out($white, 0.5);
  transition-duration: 0s;
}
