.toolbar {
  display: flex;
  margin: 0 0 0 -8px;
  padding: 0;
  list-style: none;
}

.toolbar__item {
  display: block;
  margin: 0 16*$em 0 0;
  padding: 0;

  a {
    display: block;
    padding: 10px 6px;
    padding-bottom: 0;
    transition: opacity .2s ease;

    .toolbar__item__label {
      font-size: 12*$em;
      vertical-align: middle;
      transition: color .2s ease;
      color: fade-out($text, 0.66);
    }

    svg {
      width: 32px;
      height: 32px;
      transition: fill .2s ease;
      fill: fade-out($text, 0.60);
      vertical-align: middle;
    }

    &:hover {
      opacity: 1;

      svg {
        fill: $blue-active;
      }

      .toolbar__item__label {
        color: $blue-active;
      }
    }

    &:active {
      opacity: .5;
      transition-duration: 0s;
    }
  }
}