.toolbar {
  display: flex;
  margin: 0 0 0 -8px;
  padding: 0;
  list-style: none;
}

.toolbar__item {
  display: block;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 10px 6px;
    padding-bottom: 0;

    svg {
      width: 35px;
      height: 35px;
      transition: fill .2s ease,
                  opacity .2s ease;
      fill: $blue;
    }

    &:hover svg {
      fill: $blue-light;
    }

    &:active {
      opacity: .5;
      transition-duration: 0s;
    }
  }
}