.tutorials {
  .tutorials__content {
    padding: 40*$em 30*$em 62*$em 30*$em;
  }

  figure {
    margin: 0;
    padding: 0;
    @include t-crisp;

    pre,
    code {
      white-space: pre-wrap;
    }
  }

  .annotated-code {
    background: $gray-light;
    margin: 60*$em -30px;
    position: relative;
    display: flex;
    overflow: hidden;

    .annotated-code__pane {
      &.annotated-code__pane--code-container {
        padding: 15px 0 45px 15px;
        background: $gray-light;
        flex: 0 0 715px;

        .annotated-code__code-block {
          cursor: text;

          .highlight {
            padding: 10px 15px;
            position: relative;
            z-index: 1;
            margin: 0;

            pre,
            code {
              margin: 0;
              background: transparent !important;
              font-size: 12.5px;
            }

            code {
              padding: 0;
            }
          }
        }
      }

      &.annotated-code__pane--annotations-container {
        margin-left: 15px;
        flex: 1;
        background: #f9fafc;
        border-left: 1px solid rgba(0,0,0,.05);
        position: relative;

        ul#annotated-code__annotations {
          list-style: none;
          margin: 0;
          padding: 15px;
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          transform: translateY(0px);
          transition: transform .3s ease;

          li {
            display: block;
            padding: 15px 20px;
            margin: 0;
            font-size: 16px;
            color: lighten($text, 22);
            position: relative;
            cursor: default;
            opacity: .5;
            z-index: 1;
            transition: opacity .1s ease;

            code, code code {
              font-size: 13px !important;
              background: #eceef1;
            }

            &.focused {
              opacity: 1;
            }

            &:after {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 8px 8px 0;
              border-color: transparent $white transparent transparent;
              top: 12px;
              left: -8px;
              opacity: 0;
              transition: opacity .1s ease;
              position: absolute;
            }
          }
        }
      }

      &.annotated-code__pane--code-container .annotated-code__code-block .highlight,
      &.annotated-code__pane--annotations-container ul#annotated-code__annotations li {
        &:before {
          position: absolute;
          display: block;
          z-index: -1;
          content: "";
          box-shadow: 0 0 60px rgba(0,0,0,.08);
          background: $white;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: opacity .1s ease;
        }
      }

      &.annotated-code__pane--code-container .annotated-code__code-block.focused .highlight:before,
      &.annotated-code__pane--annotations-container ul#annotated-code__annotations li.focused:before,
      &.annotated-code__pane--annotations-container ul#annotated-code__annotations li.focused:after {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .tutorials {
    .col-layout__content {
      padding-top: 0;
    }
  }
}
