.tutorials {
  .col-layout__content {
    padding-top: 76*$em;
  }

  figure {
    margin: 0;
    padding: 0;
    @include t-crisp;
  }

  table.annotated-code {
    margin: 40*$em 0;

    tr {
      background: transparent !important;
    }

    td,
    th {
      padding: 0;
      vertical-align: top;
      font-size: 16*$em;
    }

    td {
      &.desc {
        padding: 20*$em;
        color: $text-secondary;
      }

      &.code {
        width: 66.67%;
        background: $gray-light;
      }

      pre {
        margin: 0;
        font-size: 16*$em;
      }
    }

    tr + tr td {
      &.desc,
      code {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .tutorials {
    .col-layout__content {
      padding-top: 0;
    }
  }
}
