<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>AllenNLP - {{ page.title }}</title>
  </head>

  <body data-page="tutorials" data-tutorial-id="{{ page.id }}">
    <div id="page-content">
      {% include header.html %}
      <div class="tutorial constrained">
        <div class="pure-g">
          {% include nav-tutorials.html %}
          <div class="tutorial__content pure-u-1 pure-u-md-2-3">
            <h1>{{ page.title }}</h1>

            {{ content }}

          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include svg-sprite.html %}
    {% include scripts.html %}
  </body>
</html>
